<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
<div class="container">
    <h1>MI API REST</h1>
    <h3>Seleccione una opción</h3>
    <div class="button-container">
        <a href="http://localhost:8080/verempleados" class="button">Ver Empleados</a>
        <a href="http://localhost:8080/verdepartamentos" class="button">Ver Departamentos</a>
    </div>
    <div class="button-container">
        <a href="http://localhost:8080/altaempleado" class="button">Alta Empleados</a>
        <a href="http://localhost:8080/altadepartamento" class="button">Alta Departamentos</a>
    </div>
</div>
</body>
</html>
